html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #26a69a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #26a69a !important;
}

.info, .listheader {
  display: grid;
  grid-template-columns: 30% 25% 20% 10%;
}
.listheader {
  font-size: 48px;
}
.info {
  font-size: 20px;
}
.card-title, .info, h4, h5, .nav-wrapper, .listheader, .banner, .input-field > label, .statusLabel, #modal-0 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.assigned_to {
  font-weight: bold;
}
#name, #owner, #description, #assigned_to, #due_date {
  font-size: 24px!important;
  padding-top: 8px;
}
.home_new_list_container {
  padding: 5px;
  text-align: center;
}

.list_item_card_due_date, .dateHeader, .addItem {
  text-align: center;
}
.list_item_card_completed, .list_item_card_not_completed, .statusHeader {
  padding-left: 50px;
}
.taskHeader {
  padding-left: 24px;
}
.largeIcon {
  font-size: 50px !important;
}
.addIcon {
  font-size: 48px;
  padding-top: 8px;
}
.input-field > label, .statusLabel {
  font-size: 24px!important;
}
.itemCompletedRow {
  padding-bottom: 20px;
}
#modal-0 {
  font-size: 24px;
}
#modal-0-buttons {
  font-size: 18px!important;
}

#deleteList {
  cursor: pointer;
}
#todoItemHeader {
  padding-bottom: 10px;
}
#todoListHeader {
  padding: 0!important;
}
.row {
  margin-bottom: 0px;
}
.card-title {
  font-weight: normal!important;
  margin-bottom: 0!important;
}